
<!-- ACCOUNTS -->

<h2>Accounts</h2>

<div class="accounts">

  <span class="filter nugget">
    <a class="filter" title="Show/hide filter"><img src="./media/filter.png" /></a>
    <form data-selector="div.nugget.account">
      <div>
        <a class="reset" title="Reset filter"><img src="./media/reset.png" /></a>
        <select data-deleted >
          <option value="N" selected >Available</option>
          <option value="Y">Deleted</option>
          <option value="*">All</option>
        </select>
        <span>Warnings: <input type="checkbox" data-warning /></span>
        <input type="text" class="char-4" data-match="accountId" placeholder="ID" />
        <input type="text" class="char-16" data-freetext placeholder="Search" />
        <span class="status"></span>
      </div>
    </form>
  </span>

  <div class="new nugget">
    <button class="new">+</button>
    <h3>New account</h3>
    <form data-add data-table="bab_account" data-next="accounts" data-bounce="account">
      <template data-keys>
        <section>
          <input data-key="accounts" />
        </section>
      </template>
      <template data-primaries>
        <section>
          <input name="accountId" data-autoinc />
        </section>
      </template>
      <section>
        <div>
          <span class="legend">Name</span>
          <input class="char-16" type="text" data-column="name" name="accountName" />
        </div>
        <div>
          <span class="legend">Reg. charity nr.</span>
          <input class="char-16" type="text" data-column="registered_charity_nr" name="registeredCharityNr" />
        </div>
      </section>
      <button>Add</button>
    </form>
  </div>

  <section>

{{#each accounts}}
    <div class="nugget account {{#equals accountId ../parameters.accountId}}scoped{{/equals}} {{#if deleted}}deleted{{/if}}" >
{{#if hasLogo}}
      <img title="{{accountName}}" class="logo" src="./media/account/account-{{accountId}}.png" />
{{/if}}
      <h3>
        <span class="id">#{{accountId}}</span>
        <span data-match="accountName">{{accountName}}</span>
      </h3>
      <a class="postcode" target="_blank" href="https://www.google.co.uk/maps/place/{{placePostcode}}">{{placePostcode}}</a>
      <div class="contracts">
        <span class="legend">Contracted:</span>
    {{#each fundraisers}}
        <a class="navigator atom" data-screen="fundraiser" data-parameter="fundraiserId" data-value="{{fundraiserId}}">{{label}}</a>
    {{else}}
        <span class="atom warning">No fundraisers are contracted</span>
    {{/each}}
      </div>
      <button class="navigator" data-screen="account" data-parameter="accountId" data-value="{{accountId}}">Account</button>
      <button class="navigator" data-screen="allows" data-parameter="accountId" data-value="{{accountId}}">Agents</button>
      <button class="navigator" data-screen="areas" data-parameter="accountId" data-value="{{accountId}}">Zones</button>
      <button class="navigator" data-screen="contractors" data-parameter="accountId" data-value="{{accountId}}">Contracts</button>
      <button class="navigator" data-screen="products" data-parameter="accountId" data-value="{{accountId}}">Products</button>
    </div>
{{/each}}

  </section>

</div>

