<!doctype html>
<html class="no-js" lang="">

  <head>

    <!-- Copyright {{year}} Burden and Burden  http://www.burdenandburden.co.uk/ -->

    <meta charset="utf-8">
    <meta name="description" content="Management hierarchy at {{date}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/treeflex/dist/css/treeflex.css">
    <link rel="stylesheet" href="{{url}}/css/normalize.css">
    <link rel="stylesheet" href="{{url}}/css/base.css">
    <link rel="stylesheet" href="{{url}}/css/generic.css">
    <link rel="stylesheet" href="{{url}}/css/style.css">

    <link rel="author" href="http://www.burdenandburden.co.uk">
    <title>Burden &amp; Burden Management Hierarchy at {{date}} {{time}}</title>

  </head>

  <body>

    <h3>&nbsp;&nbsp; {{date}} {{time}}</h3>

    <section class="tf-tree nugget">
      <ul>
{{{html}}}
      </ul>
    <section>

  </body>

</html>

