
<!-- PLACE -->

<form data-place data-editmode>

  <input type="hidden" name="dataKey" value="{{place.dataKey}}" />
  <input type="hidden" data-primary name="placeId" value="{{place.placeId}}" />

  <section>
    <h4>Contact</h4>
    <a class="place-contact atom update">Update</a>
    <div>
      <span class="legend">Name</span>
      <input type="text" name="contactName" value="{{place.contactName}}" />
    </div>
  </section>

  <section>
    <h4>Comms</h4>
    <a class="place-comms atom update">Update</a>
    <div>
      <span class="legend">Email</span>
      <input type="email" name="contactEmail" value="{{place.contactEmail}}" />
    </div>
    <div>
      <span class="legend">Web</span>
      <input type="text" name="contactWeb" value="{{place.contactWeb}}" />
    </div>
    <div>
      <span class="legend">Phone</span>
      <input type="text" name="contactPhone" value="{{place.contactPhone}}" />
    </div>
    <div>
      <span class="legend">Fax</span>
      <input type="text" name="contactFax" value="{{place.contactFax}}" />
    </div>
  </section>

  <section>
    <h4>Address</h4>
    <a class="place-address atom update">Update</a>
    <div>
      <span class="legend">Line 1</span>
      <input type="text" name="line1" value="{{place.line1}}" />
    </div>
    <div>
      <span class="legend">Line 2</span>
      <input type="text" name="line2" value="{{place.line2}}" />
    </div>
    <div>
      <span class="legend">Line 3</span>
      <input type="text" name="line3" value="{{place.line3}}" />
    </div>
    <div>
      <span class="legend">Line 4</span>
      <input type="text" name="line4" value="{{place.line4}}" />
    </div>
    <div>
      <span class="legend">Locality</span>
      <input type="text" name="locality" value="{{place.locality}}" />
    </div>
    <div>
      <span class="legend">Town/city</span>
      <input type="text" name="town" value="{{place.town}}" />
    </div>
    <div>
      <span class="legend">Region/county</span>
      <input type="text" name="region" value="{{place.region}}" />
    </div>
    <div>
      <span class="legend">Country code</span>
      <input type="text" name="countryCode" value="{{place.countryCode}}" />
    </div>
    <div>
      <span class="legend">Postcode</span>
      <input type="text" name="postcode" value="{{place.postcode}}" />
    </div>
  </section>

  <section>
    <h4>What3Words</h4>
    <a class="place-what3words atom update">Update</a>
    <div>
      <span class="legend"></span>
      <input type="text" name="what3wordsAddress" value="{{place.what3wordsAddress}}" />
    </div>
  </section>

  <section>
    <h4>Geo-location</h4>
    <a class="place-location atom update">Update</a>
    <div>
      <span class="legend">Latitude (y)</span>
      <input type="number" data-column="y" name="y" value="{{place.y}}" />
    </div>
    <div>
      <span class="legend">Longitude (x)</span>
      <input type="number" data-column="x" name="x" value="{{place.x}}" />
    </div>
  </section>

</form>

