
<!-- REPORT -->

<section class="layer">

  <section class="nugget report">

    <section class="close">
      <a data-close >Close</a>
    </section>

{{#each reports}}
    {{#equals spr ../parameters.spr}}

<form data-history="RPT {{spr}}: {{reportName}}">
  <input type="hidden" name="spr" value="{{spr}}"/>
</form>

    <form data-report>

      <input type="hidden" name="spr" value="{{spr}}" />

      <section>
        <h4>{{reportName}}</h4>
      </section>

      <section>
        <h4>CALL {{spr}} (</h4>
        {{#each arguments}}
        <div>
          <span class="legend" title="{{name}} {{constraints}}">{{name}}:</span>
          <input
              type="{{input}}"
              data-argument="{{argument}}"
              name="arg-{{argument}}"
            {{#if pattern}}
              pattern="{{pattern}}"
            {{/if}}
            {{#if minlength}}
              minlength="{{lengthMinimum}}"
            {{/if}}
            {{#if maxlength}}
              maxlength="{{lengthMaximum}}"
            {{/if}}
          />
        </div>
        {{/each}}
        <h4>)</h4>
      </section>

    </form>

      <section>
        <div>
          <a id="report-xml" class="atom" data-target="report-download" data-download="xml" data-title="{{reportName}}">Download XML</a>
          <a id="report-csv" class="atom" data-target="report-download" data-download="csv" data-title="{{reportName}}">Download CSV</a>
        </div>
      </section>

      <section>
        <div id="report-download"></div>
      </section>

    {{/equals}}
{{/each}}

  </section>

</section>

